extends layout

block content
    h1 Books
    p
      a.button(href='/books/new_book') Create New Book
    p
      | Filters
      a(href='/books')  All |
      a(href='overdue_books.html') Overdue |
      a(href='checked_books.html') Checked Out  
    table
      thead
        tr
          th Id
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td #{book.id}
            td
              //- a(href='/book_detail') #{book.title}
              a(href='/books/' + book.id + '/edit') #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.first_published}
        //- tr
        //-   td one
        //-   td two
        //-   td three
        //-   td four
        //- tr
        //-   td one
        //-   td two
        //-   td three
        //-   td four
          
