extends ../layout

block content
    h1 #{title}
    .container
        .title DARRYL CORNELIUS DRIEDGER
        .subtitle  PROJECT COORDINATION + BUILDING SYSTEMS + DATA MANAGEMENT + SCHEDULING    
        .title2
        a(href='mailto:contact@darryldriedger.com?subject=Mail from Our Site') contact@darryldriedger.com
        form(method='post')  
    .container2
        p
        label(for='title') Title
        input#title(type='text' name='title' value= bookTitle)
        p
        label(for='author') Author
        input#author(type='text' name='author' value=bookAuthor)
        p
        label(for='genre') Genre
        input#genre(type='text' name='genre' value=bookGenre)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        label(for='first_published') First Published
        input#first_published(type='text' name='first_published' value=bookPublished)
        p
        input#button(type='submit' value='Create New Book')





        script(src='https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg')
        script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
        script(src='https://threejs.org/examples/js/libs/stats.min.js')
        script(src='script.js')

    include ../includes/page_nav 