extends ../layout

block content
    h1 Loans
    include ../includes/loan_nav 
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a(href='/loans/' + loan.id) #{loan.book_id}
            td
              a(href='/patrons/' + loan.id) #{loan.patron_id}
            td #{loan.loaned_on}
            td #{loan.return_by}
            td #{loan.returned_on}
            td
              a.button(href='/books/return_book') Return Book
